.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color:#74d14c;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-fixed-top .navbar-nav>li>a {
    color: #D5D5D5;
}

.navbar-fixed-top .navbar-nav>li>a:focus, .navbar-fixed-top .navbar-nav>li>a:hover{
    color:#FFF;
    background-color: #74d14c;
}
.navbar-brand {
    font-family: agency fb, corbel, helvetica, sans-serif;
    font-size: 38px;
}
.navbar-default .navbar-brand{
    color: white;
}
 #intoText {
       padding: 350px;
}
#lab1,#lab2{
    height:600px;
    margin-left: auto;
    margin-right: auto;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #74d14c;   
}
.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: black;
}
.btn {
    margin-bottom: 10px;
}
header {
    text-align: center;
    background: black;
    color: white;
}
header img{
    margin: 0 auto 20px;
}
header .intro-text .name{
    font-size: 4.75em;
    font-family: fantasy;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}
body {
    padding-top:69px;
}
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand.active {
  color: white;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: fantasy;
    font-weight: 700;
}
a.btn.btn-lg.btn-outline {
    border: solid 2px black;
    transition: all .1s ease-in-out;
}
.fa-linkedin, .fa-envelope-open {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: white;
    font-size: 4rem;

}
.fa-linkedin:hover,.fa-envelope-open:hover {
    background-color: skyblue;
}
.footer-above {
    background-color: #74d14c;
}
img.img-responsive {
    padding-left: 150px;
    height: 150px;
}
t{
    font-weight: 600;
    font-family: fantasy
}